.alt-header__column {
  padding-top: 30px;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 20px;
  font-weight: 600;
}
.alt-header__column:first-child {
  margin-right: auto;
}
